<div class = "body-main">
    <div class = "main-left">
        <h1>Knowledge.</h1>
        <h3>Diversified Knowledge Consolidation Community</h3>
        <p>あなたの　知識　が きっかけ をつくる</p>
        <ul>
            <% if logged_in? %>
            
            <%else%>
            <li><%= link_to "Sing up", signup_path %></li>
            <li><%= link_to "Log in", login_path %></li>
            <%end%>
        </ul>
    </div>
    <div class = "main-right">
        <% if logged_in? %>
        <div id = "create">
            <%= link_to "Create", '/roomhome' %>
        </div>
        <div id = "browse">
            <%= link_to "Browse", '/discussion' %>
        </div>
        <%end%>
    </div>
</div>
<div class = "contents">
    <% if logged_in? %>
        <div class = "contents-body">
            <div class = "contents-menu">
                <ul>
                    <li>DISCUSSION</li>
                    <li>QUESTION</li>
                    <!--<li>NOTE</li>-->
                </ul>
            </div>
            <div class = "contents-main">
            </div>  
        </div>
    <%else%>
        <div class = "contents-body">
            <div class = "contents-menu">
                <ul>
                    <li><%= link_to "DISCUSSION", discussion_path %></li>
                    <li><%= link_to "QUESTION", question_path %></li>
                    <!--<li><%= link_to "NOTE", note_path %></li>-->
                </ul>
            </div>
            <div class = "contents-main">
            </div>  
        </div>
    <%end%>
</div>
    