<div class = "chatroom">
    <div class = "chat-body" >
        <div id = "chat-list">
            <h1><%=@room.title%></h1>
            <ul id = "choice">
                <li id = "first_name"><%=@room.choice_first%></li>
                <li id = "name">or</li>
                <li id = "second_name"><%=@room.choice_second%></li>
            </ul>
            <p id ="left_par" >70 %</p>
            <form>
                <input class="statusbutton_left" type="button"  valu="1" data-behavior="room_status">
                <input class="statusbutton_right" type="button"  valu="2"data-behavior="room_status">
            </form>
            <p id ="right_par" >30 %</p>
        </div>
        <div id = "chat-details">
            <div id = "see">
                <p id= "live"> Live</p><p id = "number">2,289</p>
            </div>
            <div id = "tag">
                <div class = "tag_nameplate">・Tag</div>
                <div class = "tag_main"><%=@room.tag%></div>
                 <ul>トーク参加者
	                <% @users.each do |u| %>
	                    <li>   <%= u.name %></li>
	                <% end %>
	            </ul>
            </div>
            <div id = "contents">
                <div class = "contents_nameplate">・Contents</div>
                <div class = "contents_main"><%=@room.contents%></div>
            </div>
            <div id = "rule">
                <div class = "rule_nameplate">・Rule</div>
                <div class = "rule_main"><%=@room.rule%></div>
            </div>
        </div>
        <div class = "chat-main">
            <div id = "chat-contents">
                <div id="messages", data-room_id="<%= @room.id %>">
                    <div class = "messages-main">
                        <%= render @messages %>
                    </div>
                </div>
            </div>
            <div id = "chat-form">
                <form>
                <input class="textbutton" type="text" data-behavior="room_speaker">
                </form>
            </div>
        </div>
    </div>
</div>