<headr class = "heads">
    <div class = "logo">
          <%= link_to "Title",root_path, id:"logo" %>
    </div>
    <div class = "head-menu">
        <ul>
            <% if logged_in? %>
             <li><%= link_to "HOME", root_path %></li>
             <li><%= link_to "MY PAGE",user_url(current_user)%></li>
             <li><%= link_to "ABOUT", about_path %></li>
             <li><%= link_to "HELP", '#' %></li>
            <% else %>
              <li><%= link_to "HOME",root_path%></li>
              <li><%= link_to "ABOUT", about_path %></li>
              <li><%= link_to "HELP", '#' %></li>
            <% end %>

        </ul >
    </div>
</headr>